body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #f5f5dc;
    padding: 20px;
    margin: 10px;
}
.container p{
    padding: 1.5em;
    margin: 1.5px;
}
.container img{
    border-radius: 15px;
    padding: 1.5px;
    margin: 1.5px;
    height: 350px;
    float: right;
}