*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
}
.logo{
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    font-size: 22px;
}
.tab{
    font-size: 18px;
    width: 60%;
    margin: 5px;
    padding: 10px;
    margin-right: 40px;
}
.tab a{
    text-decoration: none;
    color: #ffffff;
}
.tab ul{
    display: flex;
    justify-content: space-around;
}
.tab li{
    margin: auto;
}
.start-btn button{
    font-size: 18px;
    border: 1px solid #f5eb2c;
    background-color: #000000;
    color: #f5eb2c;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.start-btn button:hover{
    background-color:  #f5eb2c;
    color: #000000;
}
.tab a:hover{
    text-decoration: none;
    color: #cfcfcfac;
}

main.content{
    margin-top: 45px;
    padding: 15px;
    text-align: justify;
}
.paragraph{
    margin: 15px;
    padding: 10px;
}
